*/ CSS para nuestra App*/
body {

}
.jumbotron.jose {
    background-color: #B1C4D9;
    color: #fff;
    margin: 125px 0 120px 880px;
    width: 800px;
    height: 600px;
}
.primer_alineado{
    display: flex;
    height: 80px;
    margin: -63px -31px;
}
.logo{
    height:auto;
    width: 350px;
    margin-left: 10px;
    margin-top: 5px;
}
.eslogan {
    margin-top: 15px;
    margin-left: 430px;
    border: 2px solid blue;
    text-align: right;
}
.agrupados{
    display: flex;
    margin: 40px 5px 10px 5px;
    height: 500px;
}
.panel_mostrar {
    background-color: #4285F4;
    height: 496px;
    width: 400px;
}
.ciudad,.direccion{
    text-align: center;
    margin-left: -20px;
}
.turno{
    width: 200px;
    margin-left: 90px;
    z-index: 1;
}
.contador_turnos{
    z-index: 2;
    position: absolute;
    margin: -130px 170px;
    color: black !important;
}
#contador{ 
    font-size: 2.5em;
}
.frase1, .texto_primer_panel, .info_web {
    text-align: center;
    margin-top: 20px;
}
.texto_primer_panel{
    font-size: 15px;
    margin-top: 5px;
    padding:0 15px;
}
.estado_servicio{
    background-color: forestgreen;
    height: 40px;
}
.p_estado_servicio{
    text-align: center;
    font-size: 20px;
    padding-top: 10px
}
.info_web{
    margin-top: 10px;
}
.panel_mostrar2 {
    background-color: #CF3B9A;
    height: 200px;
    width: 200px;
}
.panel_mostrar2:link, .panel_mostrar3:link {
        text-decoration: none;
}
.panel_mostrar2:hover, .panel_mostrar3:hover {
        font-size: 27px !important;
        text-decoration: none;
}
.boton_solicitar, .boton_solicitar2 {
    text-align: center;
    color: white;
    font-size: 29px;
    margin-left: 3px;
}
.panel_mostrar3 {
    background-color: #FFF081;
    height: 200px;
    width: 200px;
}
.segunda {
    margin-left: 45px !important;
}
.fas.fa-arrow-right {
    color: white;
    font-size: 39px;
}
.fas.fa-mobile {
    color: black;
    font-size: 39px;
}
.panel_mostrar4 {
    z-index: 3;
    display: none;
    background-color: #333333;
    height: 296px;
    width: 395px;
    margin-top: 200px;
    margin-left: 395px;
    position: absolute;
}
.panel_oculto {
    z-index: 1;
    background-color: #333333;
    height: 296px;
    width: 395px;
    margin-top: 200px;
    margin-left: 395px;
    position: absolute;
}
.oculto2 {
    background-color: #333333;
    height: 296px;
    width: 395px;
    margin-top: 200px;
    margin-left: 394.5px;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
}
#textoPantalla {
    text-align: center;
    font-style: sans-serif;
    height: 60px;
    width: 260px;
    font-size: 2.5em;
    background-color: #000000;
    margin-top: 0;
}
.textoPantalla_oculto {
    text-align: center;
    font-style: sans-serif;
    margin-top: 1px !important;
    height: 60px;
    width: 260px;
    font-size: 2.5em;
    background-color: #000000;
}
.button_igual {
    background-color: #00A76D;
    color: #fff;
    font-size: 2.5em;
    position: absolute;
    margin-top: -101px !important;
    margin-left: 260px;
    height: 40px;
    width: 135px;
}
.button_igual2 {
    background-color: #00A76D;
    color: #fff;
    font-size: 2.5em;
    position: absolute;
    margin-top: -101px !important;
    margin-left: 260px;
    height: 60px;
    width: 135px;
}
.button1, .button2, .button3 {
    z-index: 3;
    position: absolute;
    margin: -45px 0;
    width: 130px;
    height: 40px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
    padding-top: 10px;
}
.button2 {
        margin-left: 130px;
    }
.button3{
    margin-left: 260px;
    width: 133px !important;
}
.button4, .button5, .button6 {
    position: absolute;
    margin-top: 16px;
    width: 130px;
    height: 40px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.button5 {
    margin-left: 130px;
}
.button6 {
    margin-left: 260px;
    width: 133px !important;
}
.button7, .button8, .button9 {
    position: absolute;
    margin: 75px 0;
    width: 130px;
    height: 40px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.button8 {
    margin-left: 130px;
}
.button9 {
    margin-left: 260px;
    width: 133px !important;
}
.button0 {
    position: absolute;
    margin: 136px 0;
    width: 130px;
    height: 37px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.button_deleted {
    position: absolute;
    margin: 136px 0 0 130px;
    height: 37px;
    width: 263px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.botton1, .botton2, .botton3 {
    z-index: 3;
    position: absolute;
    margin: -40px 0;
    width: 130px;
    height: 60px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.botton2 {
        margin-left: 130px;
}
.botton3{
    margin-left: 260px;
    width: 133px !important;
}
.botton4, .botton5, .botton6 {
    position: absolute;
    width: 130px;
    height: 60px;
    margin-top: 22px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.botton5 {
    margin-left: 130px;
}
.botton6 {
    margin-left: 260px;
    width: 133px !important;
}
.botton7, .botton8, .botton9 {
    position: absolute;
    margin: 80px 0;
    width: 130px;
    height: 60px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.botton8 {
    margin-left: 130px;
}
.botton9 {
    margin-left: 260px;
    width: 133px !important;
}
.botton0 {
    position: absolute;
    margin: 138px 0;
    width: 130px;
    height: 56px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
.botton_deleted {
    position: absolute;
    margin: 138px 0 0 130px;
    height: 56px;
    width: 263px;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
}
p.button0, p.button1, p.button2, p.button3, p.button4, p.button5, p.button6, p.button7, p.button8, p.button9, p.button_deleted, .button_igual {
    text-align: center;
    padding: 10px 0;
}
/* Línea separatoria entre mi proyecto y el nuevo.*/
.separacion {
    border-bottom: solid 1px grey;
    width: 100%;
    height: 50px;
}







/* Bootstrap */
.verde{
    border: 2px solid green;
}
.rojo{
    border: 2px solid red;
}
.amarillo{
    border: 2px solid yellow;
}
.azul{
    border: 2px solid blue;
}
.rosa{
    border: 2px solid pink;
}
.interfaz {
    background-color: #B1C4D9;
    color: #fff;
    width: 40%;
    height: 600px;
    margin: 320px 30% 100px 30%;
}
.banner{
    padding: 10px;
    margin-top: 10px;
    height: 50px;
}
.logo_banner {
    height: auto;
    width: 200px;
    margin-top: -30px;
}
.eslogan_banner {
    text-align: right;
}
.turnos {
    height: 520px;
    background-color: #4285F4;
}
.contador_turnos {
    z-index: 2;
    position: absolute;
    margin: -120px 150px;
    color: black !important;
}
.normal {
    background-color: #CF3B9A;
    color: #fff;
}
.sms {
    background-color: #FFF081;
}
.normal,.sms{
    height: 200px;
}
.normal:link, .sms:link {
    text-decoration: none;
}
.normal:hover, .sms:hover {
    text-decoration: none;
    font-size: 27px !important;
}
.turnos, .normal,.sms{
    margin-top: 10px;
}
.numero_turno {
    width: 200px;
    margin-left: 20%;
    z-index: 1;
}
.buton_solicitar {
    text-align: center;
    color: white;
    font-size: 20px;
}
.far.fa-clock{
    margin-left: 37%;
    margin-top: 50px;
    color: white;
    font-size: 39px;
}
.segunda_sms {
    margin-left: 0;
    margin-top: 50px;
    color: white;
    font-size: 39px;
}
.oculto, .panel_oculto{
    height: 320px;
    z-index: 2;
    opacity: 0.5;
    background-color: #333333;
    position: absolute;
    margin-top: 270px;
    margin-left: 365px;
    width: 365px;
}
.teclado_texto {
    height: 60px;
    width: 200px;
    font-size: 2.5em;
    background-color: #000000;
    padding: 10px 85px;
}
.teclado_ok {
    background-color: #00A76D;
    color: #fff;
    font-size: 2.5em;
    height: 60px;
    width: 164.5px;
    padding: 10px 60px;
}
.teclado_1, .teclado_2, .teclado_3 {
    width: 121.6px;
    height: 70px;
    padding: 15px 55px;
    margin-top: -10px !important;
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 27px;
}
.teclado_0, .teclado_deleted {
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    font-size: 25px;
    margin-top: -10px !important;
    height: 49.5px;
}
.teclado_0 {
    padding: 5px 85px;
}
.teclado_deleted {
    padding: 5px 39px;
}
.panel_oculto {
    z-index: 3;
    display: none;
}
.teclado_texto_oculto {
    height: 60px;
    width: 200px;
    font-size: 2.5em;
    background-color: #000000;
    padding: 10px 85px;
}
.teclado_ok_oculto {
    background-color: #00A76D;
    color: #fff;
    font-size: 2.5em;
    height: 60px;
    width: 164px;
    padding: 10px 60px;
}
.teclado_1_oculto, .teclado_2_oculto, .teclado_3_oculto {
    z-index: 3;
}
.teclado_1_oculto {
    background-color: #FEFEFE;
    color: #000000;
    border: 1px solid #000000;
    margin-left: -90px;
}