/* CSS para nuestra App*/

/* Línea separatoria entre mi proyecto y el nuevo. Colores para ver visualmente que realiza cada nomenclatura de BootStrap.*/
.separacion {border-bottom: solid 1px grey;width: 100%;height: 50px;margin: 225px 0 50px 0;}
.verde{border: 2px solid green;}
.rojo{border: 2px solid red;}
.amarillo{border: 2px solid yellow;}
.azul{border: 2px solid blue;}
.rosa{border: 2px solid pink;}

/*Nuevo diseño Interfaz Peluqueria.net (Test.aspx)*/
.contenedor_principal {max-width: 800px;margin: auto;padding: 10px;height: 600px;background-color: #F0F0F0;font-family: helvetica, arial;box-shadow: none;border: solid 1px #014185;border-radius: 10px;color: #003466;margin-top: 10%;}
.interfaz-header {font-family: helvetica, arial;font-size: 15px;font-weight: bold;background-color: #014185;color: #FFFFFF;text-align: center;}
.interfaz-cuerpo {padding: 5px;}
.row{padding:0;margin:0;}
.banner{margin-top: -15px !important;}
.logo_banner { height: auto;width: 200px; margin-top: 5px;}
.tipo_servicio {margin-left: 30%;margin-top: -10%;width: 35%;padding: 20px 2px;text-align: center;font-size: 1.4em;}
.eslogan_banner {text-align: right;margin: -50px 20px 20px 0;}
.contador-turnos {height: 500px;background-color: #4285F4;color: #fff;}
.ciudad, .direccion {text-align: center; margin: 5px 0 0 -15px;}
.numero_turno {width: 200px;margin-left: 20%;z-index: 1;}
.contador_turnos {z-index: 2;position: absolute;margin: -120px 150px;color: black !important;}
#contador {font-size: 2.5em;}
.frase1, .texto_primer_panel{text-align: center;margin-top: 40px;}
.info_web {font-size: 25px;text-align: center;margin-top: 40px;}
.cuadro-normal, .cuadro-sms {height: 200px;}
.cuadro-normal {background-color: #CF3B9A;color: #fff; display:block;}
.far.fa-clock {margin-left: 37%;margin-top: 50px;color: white;font-size: 39px;}
.buton_solicitar {color: white;}
.buton_solicitar, .buton_solicitar2 {text-align: center;font-size: 20px;}
.cuadro-sms {background-color: #FFF081;}
.segunda_sms {margin-left: 29px !important;margin-top: 40px; color: black !important;}
.fas.fa-arrow-right {color: forestgreen;font-size: 39px;}
.fas.fa-mobile {color: black;font-size: 39px;}
.buton_solicitar2 {color: Black;}
.cuadro_texto, .cuadro_ok {height: 60px;text-align: center;padding: 10px;font-size: 1em}
.cuadro_texto, .cuadro_ok{height: 60px; text-align:center;}
.cuadro_texto {background-color: #000000;margin: auto;color: #fff !important;}
.cuadro_texto2 {
    background-color: #fff;
    margin: auto;
    color: #00A76D !important;
    width: 100%;
    height: 60px;
    font-size: 2.5em;
}
#textoMostrar {
    border-radius: 6px;
    font-family: helvetica, arial;
    box-shadow: none;
    border: solid 1px #000000;
}
.cuadro_ok {background-color: #00A76D;color: #fff;}
.tabla_numeros {height: 300px;width: 100%;}
.primera_linea_tabla,.segunda_linea_tabla,.tercera_linea_tabla {width:33.3%;background-color:#FEFEFE;color: #000000;border: 1px solid #000000;font-size: 1.7em;height: 55px; text-align: center;}
.primera_linea_tabla{margin-left: -1px;}
.cuadro_0, .cuadro_borrar {height: 59px;background-color: #FEFEFE;color: #000000;border: 1px solid #000000;font-size: 1.7em;text-align: center;padding: 15px;}
.panel_mostrar_numeros {position: absolute;width: 10.1%;height: 60px;margin: -15.8% 0 0 20.2%;display: none;text-align: center;padding: 15px;font-size: 1.7em;color: #fff;background-color: #3B4045;}
.botones{width: 100%;height: 100%;}
#tabla_normal {margin: 200px 0 0 50%;background-color: black;opacity: 0.2;}




.contenedor_princi{
    max-width: 900px;
    margin:auto;
}
.recuadro{
    width: 20%;
}