
/*Media Querys para resolucion inferior a 800px de ancho. */
@media (max-width: 800px) {
    /* Test.aspx*/
    .contenedor_principal {width: 85%;height: 1189px !important;}
    .contador-turnos {width: 100%;}
    .numero_turno{margin: 40px 0 20px 205px !important;}
    #contador {margin: -139px 0 0 286px !important;}
    .estado_servicio {width: 104.5% !important;}
    .info_web{margin: 0 0 25px 0 !important;}
    .cuadro-normal, .cuadro-sms {width: 50%;}
    .far.fa-clock {margin-left: 40% !important; margin-top: 60px !important;}
    .buton_solicitar, .buton_solicitar2{ font-size: 1.5em !important;}
    .oculto {width: 100%;height: 300px;}
    .oculto2{}
    .cuadro_texto{width: 105% !important;}
    .cuadro_ok {margin-left: 90% !important; width: 80% !important;}
    .cuadro_1,.cuadro_2,.cuadro_3{width: 33.4% !important;}
    .cuadro_2{margin-left: 33.2% !important;margin-top: -65px !important;}
    .cuadro_3{margin-left: 66.5% !important;margin-top: -65px !important;}
    .cuadro_0{width: 55% !important;}
    .cuadro_borrar {width: 44.8% !important;}
    /* Index_Intranet.aspx */
    #form_acceso {
        margin: 100px 50px 150px 50px;
        height: 400px;
    }

    .mail {
        margin: 17px 0 5px 15px;
    }

    .correo {
        height: 20px;
        margin: 15px 0 15px 30px;
        font-size: 14.5px;
    }

    .contrasenia {
        height: 20px;
        margin: 70px 0 5px -355px;
    }

    .pass {
        margin: 20px 0 5px 26px;
    }

    .enviar {
        margin: 30px 0 10px 200px;
        height: 35px;
        width: 200px;
    }
}