body {background-color: #F7F7F9;
      margin:0;
      padding:0;
}

.inputs_hidden{display: none;}

/* Colores para ver visualmente que realiza cada nomenclatura de BootStrap.*/
.verde {
    border: 2px solid green;
}
.rojo {border: 2px solid red;}
.amarillo {border: 2px solid yellow;}
.azul {border: 2px solid blue;}
.rosa {border: 2px solid pink;}

/* Estilo de nuestro formulario--> Parte de Delegado - Datos Personales. */
.main_cuadro{margin: auto;margin-top: 5%;max-width: 800px;border: 1px solid black;padding: 10px;height: auto;background-color: #fff;box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);margin-bottom: 15%;}
.eleccion{margin:-1.3% 0 0 -1.3%; width: 102.8%; height: 75px;}
.datos_delegado, .datos_medico {padding: 15px;text-align: center;font-family: Arial;font-size: 1.2em;background-color: #563D7C;color: #fff;}
.input_radio_eleccion{margin-right: 2% !important;transform: scale(1.5);}
#cuadro_delegado {margin: 0 0 0 -.3%;width: 100%;height: auto;padding: 15px;border: 3px dotted #FF851B;border-radius: 4px;background-color: #DDDDDD;}
.textos_personales {font-family: helvetica, arial;margin-left: -8%;}
.input_data_delegado {margin: 0 0 3% -5% !important;}
.input_data_delegado,.input_data_siglas {width: 100%;height: 32px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.parraf {margin: -2% 0 2% 0;}
.textos_siglas{font-family: helvetica, arial;margin-left: -1%;}
.da7,.da8{margin-top: -2%;}

/*Delegado - Parte de Asiste */
#cuadro_delegado1 {margin: 2.5% 0 0 -.3%;height: auto;padding: 15px;border: 3px dotted #FF851B;border-radius: 4px;background-color: #DDDDDD;color: #fff;}
.input_asiste {transform: scale(1.8);margin-left: 46% !important;}
.label_asiste {margin-left: 5%;color: #85144b;}
.label_asiste {font-size: 1.3em;}
.asiste_cuadro {margin: 5% 0 2% 20%;width: 60%;background-color: #fff;color:black;border: 1px solid black;box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.45);}

/*Dentro de asiste para transporte*/
#cuadro_asiste {display: none;}
.bord{border-right: 2px solid Black;}
.texto_transporte {margin-left: -6%;margin-top: 5%;width: 60%; color: black; font-weight: bold;}
.cityorigen{opacity: 0; color: black;}
.input_transporte {margin-left: 11% !important;transform: scale(1.5);width: 45%;height: 32px;padding: 9px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

/*Delegado - Parte de Observaciones,Alergias*/
#cuadro_delegado2 {margin: 2.5% 0 0 -.3%;width: 100%;height: auto;padding: 15px;background-color: #DDDDDD;border: 3px dotted #FF851B;border-radius: 4px;}
.input_obser_aler{margin-left: 2%;width: 90%;}

/*Delegado - Botón enviar(update datos en BD)*/
.enviar {background-color: #563D7C;margin-left: 40%;margin-bottom: 4%;margin-top: 4%;width: 20%;font-size: 20px;color: #fff;opacity: 1;border-radius: 6px;}
.enviar:hover {background-color: #fff;color: #563D7C;box-shadow: -2px 10px 25px -15px rgba(0,0,0,0.75);font-weight: bold;}

/* Medico - selector*/
.eleccion_medico_delegado {margin: 2% 4%;border: 3px dotted black;border-radius: 4px;}
.mi_selector {margin-left: 25%;border: 2px solid #FFDC00;width: 50%;color: #fff;background-color: #85144b;height: 35px;}



/*Medico - Datos*/
#cuadro_medico {margin: -2.7% 0 0 -1.3%;width: 102.6%;height: auto;opacity: 0;display: none;}
.texto_medico1 {font-family: helvetica, arial;margin-left: -6%;}
.texto_consentimiento {font-family: helvetica, arial;font-size: 18px;font-weight: bold;margin-left: 15%;}
.nece_transpor{margin-top: 18%;}
.transpo{margin-top: -1%;}
.input_data_medico_cityorigen {margin-left: 5%;width: 98%;height: 32px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.eleccion_medico1 {margin: 2% 4%;border: 3px dotted black;border-radius: 4px;}
.indica_city{margin-top: 12.5% !important;}
.input_obser_aler1{width: 100%;}


.switch {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: #00bc9c;
    transition: all 0.2s ease;
    border-radius: 25px;
}
.switch1{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: #00bc9c;
    transition: all 0.2s ease;
    border-radius: 25px;
}
.switch2 {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: #00bc9c;
    transition: all 0.2s ease;
    border-radius: 25px;
}
.switch span, .switch1 span,.switch2 span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.switch span:after,.switch1 span:after,.switch2 span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
}

.input_prueba {
    display: none;
}

.switch label, .switch1 label, .switch2 label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
}
.switch1 label {
    margin-left: -54%;
}
label[for=yes], label[for=ConsentimientoS], label[for=transporte_medic_si] {
    position: absolute;
    left: 0px;
    height: 20px;
}

label[for=no], label[for=ConsentimientoN], label[for=transporte_medic_no] {
    position: absolute;
    right: 0px;
}

#no:checked ~ .switch, #ConsentimientoN:checked ~ .switch1, #transporte_medic_no:checked ~ .switch2 {
    background: #eb4f37;
}

#no:checked ~ .switch span,#ConsentimientoN:checked ~ .switch1 span,#transporte_medic_no:checked ~ .switch2 span {
    background: #fff;
    margin-left: -8px;
}

#no:checked ~ .switch span:after,#ConsentimientoN:checked ~ .switch1 span:after ,#transporte_medic_no:checked ~ .switch2 span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
}

#yes:checked ~ .switch label[for=yes], #ConsentimientoSi:checked ~ .switch1 label[for=ConsentimientoSi], #transporte_medic_si:checked ~ .switch2 label[for=transporte_medic_si] {
    color: #fff;
}

#no:checked ~ .switch label[for=no], #ConsentimientoN:checked ~ .switch1 label[for=ConsentimientoN], #transporte_medic_no:checked ~ .switch2 label[for=ConsentimientoN] {
    color: #fff;
}

/* Style with padding*/
.padd {
    padding: 15px;
}
.pad {padding: 5px;}
.paddi {padding: 26.4px;}



.texto_medico{margin:3% -16px;}
.input_data_medico {margin: 3% 1%;width: 63%;}

/* Media Querys para diseño Responsive.*/
@media (max-width: 991px) {
    #cuadro_delegado,#cuadro_delegado1 {margin: 5% 0 0 -.3%;}
    .texto_nombre, .texto_apellidos,.texto_email{margin-left: 5%;}
    .mis_inputs,.mail{width: 60%;}
    .nombre{margin-left: 1%;}
    .input_apellidos {margin-left: -.2%;}
    .label_textos {margin-left: 8%;}
    .mail {margin-left: 3.2%;}
    .phone {margin-left: .7%;}
    .region{margin-left: 6.5%;}
    .reggion {margin-left: 2%;width: 62.5%;}
    .siglas_gere {margin-left: 6.4%;}
    .input_siglas_gerente {width: 83%;margin-left: 10%;}
    .siglas_dele {margin-left: 6.5%;}
    .input_siglas_delegado {width: 83% !important;margin-left: 10%;}
    #cuadro_medico{margin-top: 5%;}
    .input_data_medico{width: 90%}
    .texto_delegado {margin: 1% 0;}
    .texto_delegado2 {margin: 2% 0;font-size: 1.8em;}
    .input_data_delegado {margin: 1% 3%;width: 90%;}
    .datos_personales {width: 50%;margin: 1%;}
    .datos_personales1 {margin: -15.2% 0 15px 51.1%;width: 50%;height: 106px;}
    .datos_personales2 {width: 60% !important;margin: 10px 20%;}
    .da1,.da2,.da3,.da4,.da5,.da6{width: 50% !important;}
    .da2,.da4,.da6 {margin-left: 50%;margin-top: -7.5%;}
    .da2{margin-top: -13.6%;}
    .da4{ margin-top: -16% !important;}
    .da6{ margin-top: -18.5% !important;}
    .da5{margin-top: -3% !important;}
    .textos_personales, .textos_siglas {margin-left: 3%;margin-top: -2%;}
    .textos_siglas{margin-left: 1% !important;}
    .input_data_delegado{margin-left: 3% !important;}
    .input_data_siglas{margin-left: 1%;width: 95.5%;}
    .eleccion_delegado,.eleccion_delegado1{max-width: 600px; width: 100%;margin:auto !important;}
    .eleccion_delegado{margin-top: 10% !important;}
    .eleccion_delegado1 {margin-top: 5% !important;}
    .texto_delegado1 {margin: -36px -4%;font-size: 1em;}
    .bord {border-right: 0px solid #fff;}
    }
@media (max-width: 786px){
    .da1, .da2, .da3, .da4, .da5, .da6,.da7,.da8{width: 100% !important;margin:0 0 0 0 !important;}
    /*.da4{}*/
    .eleccion_delegado, #cuadro_delegado1, #cuadro_delegado2 {
        max-width: 450px;
    }
    .input_transporte {margin-top: 3%;width: 40%;height: 25px;}
    .input_data_siglas {
        margin-left: 2.5%;
        width: 91%;
    }
    .textos_siglas {
        margin-left: 2% !important;
    }
}
