body {
}
.verde {border: 2px solid green;}
.rojo {border: 2px solid red;}
.amarillo {border: 2px solid yellow;}
.azul {border: 2px solid blue;}
.rosa {border: 2px solid pink;}

/* Estilo para la web de servicios.*/
.container_principal{
    max-width: 1000px;
    height: auto;
    margin-top: 15%;
}
.centrarlo{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.cuadro1{
    margin: 3% 24%;
    height: 250px;
}
#imagen_banner {
    width: 47%;
    height: auto;
}
#text_banner {
    padding: 2.5%;
    font-size: 0.8em;
}