/* CSS para Servicios.aspx */
body {
    background-color: #5F616A;
    color: black;
}
/* Bordes para yo aclararme.*/
.verde {border: 2px solid green;}
.rojo {border: 2px solid red;}
.amarillo {border: 2px solid yellow;}
.azul {border: 2px solid blue;}
.rosa {border: 2px solid pink;}


.container_principal {max-width: 1000px;height: auto;margin: auto;margin-top: 5%;margin-bottom: 5%;border: 2px solid black;border-radius: 6px;}
#logo_img {width: 47%;height: auto; margin-left: -99% !important;}
#text_banner {padding: 2.5%;font-size: 1.8em;margin-left: 50%;color: white;margin-top: 13%;}
#banner_header {background-color: #B72123; border-bottom: 3px solid black; border-radius: 6px;}
.centrarlo {height: auto;background-color: #fff;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
.alineado{margin: auto;width: 100%;}

/* Estilo para cuando tenemos 2 servicios */
.dos_contenedores {margin: 3% 2% 0 -1%;padding: 5%;}
.texto_dos_cuadros, .texto_dos_cuadros2 {margin-top: -253px;text-align: center;color: dodgerblue;font-size: 1.6em;z-index: 2;}
.texto_dos_cuadros {margin-left: 24%;}
.texto_dos_cuadros2 {margin-left: 50%;}
.img_pelu, .img_massage, .img_estetica, .img_pedicura {
    width: 168%;
    height: 150px;
    margin-left: -35%;
    border-radius: 8px;
    border: 2px solid black;
}

/* Estilo para cuando tenemos 3 servicios.*/
.texto_tres_cuadros {text-align: center;padding: 10px;color: dodgerblue;font-size: 1.4em;text-decoration: underline;text-decoration-color: dodgerblue;margin-top: 1.5%;}
.img_pelu_tres, .img_massage_tres, .img_fisioterapia_tres {width: 100%;height: 150px;margin-top: -20%;border-radius: 8px;border: 2px solid black;}
.img_fisioterapia_tres {margin-left: 10%;width: 80% !important;}
 .especial {margin-top: -5%;}
.texto_cuadro, .texto_cuadro2, .texto_cuadro3, .texto_cuadro2_3, .texto_cuadro2_4, .texto_cuadro4, .texto_cuadro3_1, .texto_cuadro4_4 {z-index: 2;margin-top: -5%;text-align: center;color: dodgerblue;font-size: 1.1em;font-weight: bold;}
.texto_cuadro2{margin-left: 50%;}
.texto_cuadro2_3{margin-left: 33%;}
.texto_cuadro3{margin-left: 66%;}
.texto_cuadro3_1{margin-left: 24%;}
.texto_cuadro4 {margin-left: 75%;margin-top: -8%;}
.texto_cuadro4_4 {margin-left: 50%;margin-top: -25%}
.col-xs-4_1, .col-xs-4_2, .col-xs-4_3, .col-xs-4_4 {margin-top: 5%;margin-bottom: 5%;height: 150px;}
.boton, .boton1, .boton2 {width: 110%;height: 150px;margin-left: -5%;text-align: center;color: #fff;font-size: 1.7em;background-color: #B72123;border-radius: 8px;border: 2px solid black;}
.img_pelu:hover, .img_massage:hover, .img_estetica:hover, .img_pedicura:hover, .img_pelu_tres:hover, .img_massage_tres:hover, .img_fisioterapia_tres:hover {border-color: #fff;opacity: 0.5;}


